
    <div class="team-item position-relative">
        <img class="img-fluid rounded-circle w-75" src="assets/img/team-2.jpg" alt="">
        <div class="team-text">
            <h3>{{X.firstName}} {{X.lastName}}</h3>
            <p>email : {{X.email}}  </p>
            <p>speciality : {{X.speciality}}  </p>
            
            <div class="d-flex align-items-center">
                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-square btn-primary  mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>

